<% include ../../partials/header %>

<div class="container" style="text-align: center; margin-bottom: 10px">
  <h3>Listing room/house</h3>  
</div>

<div class="container">
	<!-- totalSteps and curr_step should be provided -->
	<%var curr_step=1; 
	  var totalSteps=6;
	  var action_url="/listing/landlord/new";
	  var action_method="POST";
	  var title = "What kind of place do you have?"%> 
	<% include ../../partials/stepwizard_header %>

 					<div class="d-flex">
						<div class="p-2 flex-fill mr-auto">
							<select class="form-control" required="required" name="rental_property_information[room_type]" placeholder="Private Room">
		              		<% var rentalTypeArray = ["Entire Place", "Private Room", "Shared Room"];
		                		rentalTypeArray.forEach(function(rentalType) { %>
		                  		<option value=<%=rentalType%>><%=rentalType%></option>
		                		<% }); %>
		              		</select>
	              		</div>
	              		<div class="p-2 flex-fill ml-auto">
		              		<select class="form-control"  required="required" name="rental_property_information[unit_type]" placeholder="Single House">
		              		<% var rentalTypeArray = ["Apartment", "Single House", "Guest House"];
		                		rentalTypeArray.forEach(function(unitType) { %>
		                  		<option value=<%=unitType%>><%=unitType%></option>
		                		<% }); %>
		              		</select>
	              		</div>
              		</div>

              		<!-- locations information -->
 					<hr>   
              		<% include ../../partials/location %>
					<hr>    
			        <div style="margin-top: 40px">
            			<button class="btn btn-success btn-lg float-left" type="submit" name="submit" value="exit">Exit</button>
            			<button class="btn btn-primary nextBtn btn-lg float-right" type="submit" name="submit" value="next">Next</button>
          			</div>
          			
	<% include ../../partials/stepwizard_footer %>
</div>

<% include ../../partials/footer %>