<% include ../../partials/header %>

<div class="container" style="text-align: center; margin-bottom: 10px">
  <h3>Listing room/house</h3>  
</div>

<div class="container">
<!-- totalSteps and curr_step should be provided -->
	<%var curr_step=3; 
	  var totalSteps=6;
	  var action_url="/listing/landlord/"+listing_id+"?_method=PUT";
	  var action_method="POST";
	  var title = "What amenities do you offer?"%> 
	<% include ../../partials/stepwizard_header %>
	<div class="d-flex flex-column">
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[internet]" id="internet">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto; margin-left: 5px"> WiFi, broadband internet </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[closet]" id="closet">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto; margin-left: 5px;"> Closet/Drawer </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[tv]" id="tv">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto; margin-left: 5px;"> TV/entertainment system </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[heating]" id="heating">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto; margin-left: 5px;"> Heating </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[ac]" id="ac">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto;margin-left: 5px;"> Air conditioning </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[desk]" id="desk">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto;margin-left: 5px;"> Desk/Workspace</div>
		    </div>
		</div>		
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
		        <label class="switch switch-sm" style="margin-bottom: auto">
		            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[smoke_detector]" id="smoke_detector">
		            <span class="slider-sm round"></span>
		        </label>
				<div style="margin-bottom:auto;margin-left: 5px;"> Smoke Detector </div>
		    </div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
			        <label class="switch switch-sm" style="margin-bottom: auto">
			            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[private_entrance]" id="private_entrance">
			            <span class="slider-sm round"></span>
			        </label>
					<div style="margin-bottom:auto;margin-left: 5px;"> Private Entrance </div>
			    </div>
			</div>
		</div>
		<div class="p-2">
			<div class="col form-check-inline listing-check-box" style="margin-left: 5px;">
			        <label class="switch switch-sm" style="margin-bottom: auto">
			            <input type="checkbox" class="primary" style="margin-left:-3px" name="amenities[fire_extinguisher]" id="fire_extinguisher">
			            <span class="slider-sm round"></span>
			        </label>
					<div style="margin-bottom:auto;margin-left: 5px;"> Fire extinguisher </div>
			    </div>
			</div>
		</div>
		<hr>
		<div class="p-2">
    		<button class="btn btn-success btn-lg float-left" type="submit" name="submit" value="prev">Prev</button>
    		<button class="btn btn-primary nextBtn btn-lg float-right" type="submit" name="submit" value="step#3">Next</button>
    	</div>
	</div>
</div>

<% include ../../partials/footer %>