<!DOCTYPE html>
<html>
	<head>
		<title>LinkedSpaces</title>
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/file_upload_v1.css">

	</head>

<body>
	
<div class="container">
    <h1>jQuery Image Upload 
        <small>with preview</small>
    </h1>
    <div class="avatar-upload">
        <div class="avatar-edit" id="avatar-edit" onmouseover="handleOnMouseHooverImagePreview()">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload" id="editLabel"></label>
        </div>
        <div class="avatar-delete" id="avatar-delete" onmouseover="handleOnMouseHooverImagePreview()">
            <input type='submit' id="avatar-delete"/>
            <label for="imageUpload" id="deleteLabel"></label>
        </div>

        <div class="avatar-preview">
            <div id="imagePreview" onmouseover="handleOnMouseHooverImagePreview(this)" onmouseout="handleOnMouseOutImagePreview(this)" style="background-image: url();">
            <form action="/file_upload1" method="post" enctype="multipart/form-data">
                <input type='file' name="file_name" id="imageDefaultUpload" accept=".png, .jpg, .jpeg"/>
                <label id="previewLabel" for="imageDefaultUpload" style="opacity: 1; font-size: 8em; color: lightgrey; position: absolute; left: 53px; top: 1px; z-index: 1;">+</label>
                <button type="submit" > </button>
            </form>
            </div>
        </div>
    </div>

    <form ref='uploadForm' 
      id='uploadForm' 
      action='/listing/landlord/file_upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="file_name" />
        <input type='submit' value='Upload!' />
    </form>     

    <!--<input type="text" id="debug"> </div>-->
</div>

<script>

function handleOnMouseHooverImagePreview(elementId) {
    var previewLabelId = document.getElementById("previewLabel");

    if(previewLabelId.style.opacity==0) {
        var labelElementId = document.getElementById("editLabel");
        labelElementId.style.opacity = 1;

        labelElementId = document.getElementById("deleteLabel");
        labelElementId.style.opacity = 1;
    }
}

function handleOnMouseOutImagePreview(elementId) {

    var previewLabelId = document.getElementById("previewLabel");


    if(previewLabelId.style.opacity==0) {
        var labelElementId = document.getElementById("editLabel");
        labelElementId.style.opacity = 0;

        var labelElementId = document.getElementById("deleteLabel");
        labelElementId.style.opacity = 0;
    }

}

function readURL(input) {
    //var debugElement = document.getElementById("debug");
    //debugElement.value = "ISEO: readURL called";

    var debugElement = document.getElementById("previewLabel");
    debugElement.style.opacity = 0;

    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#imageUpload").change(function() {
    readURL(this);
});

$("#imageDefaultUpload").change(function() {
    readURL(this);
});

</script>

<% include ../../partials/footer %>