<% include ../../partials/header %>

<div>
    <div style="position:fixed;width:70%;">
      This content is fixed and does not scroll
    </div>
    <div style="float:right;width:30%">
      <ul>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
        <li>item></li>
      </ul>
    </div>
  </div>

<% include ../../partials/footer %>