<% include ../../partials/header %>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>                                                                                              
<link rel="stylesheet" href="/stylesheets/step_wizard.css">

<div class="container" style="text-align: center; margin-bottom: 10px">
  <h3>Posting Rental Request</h3>  
</div>

<div class="container">
  
<div class="stepwizard offset-md-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a class="btn btn-outline-secondary btn-circle" href="#step-1" type="button">1</a>
        <p>Step 1</p>
      </div>
      <div class="stepwizard-step">
        <a disabled="disabled" class="btn btn-primary btn-circle" href="#step-2" type="button">2</a>
        <p>Step 2</p>
      </div>
      <div class="stepwizard-step">
        <a disabled="disabled" class="btn btn-outline-secondary btn-circle" href="#step-3" type="button">3</a>
        <p>Step 3</p>
      </div>
    </div>
  </div>
  
  <form role="form" action="/listing/tenant/<%=listing_id%>?_method=PUT" method="post">
    <div class="row setup-content" id="step-2">
      <div class="col-md-6 offset-md-3">
        <div class="col-md-12">
          <div style="text-align:center">
            <h5> Rental Preferences</h5>
          </div>
          <hr>          
          <!-- collect rental preferences -->
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[furnished]" >Furnished
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[parking]" >Parking
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[shared_living_room]" >Living Room(shared)
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[garage]" >Garage
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[laundry]" >Laundry
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" style="margin-left:11.8px" name="preferences[internet]" >Internet
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" style="margin-left:-3px" name="preferences[private_bathroom]" >Private Bath
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[separate_access]" >Separate Access
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[pet_allowed]" >Pet Allowed
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" style="margin-left:72px" name="preferences[easy_access_public_transport]" >Easy access to public transport
            </label>
            </div>
            <div class="form-check-inline listing-check-box">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="preferences[rent_whole_unit]" >Rent a whole unit
            </label>
            </div>
            <hr>
            <!-- type of rental unit -->
            <div class="row" style="margin-bottom=0px">
              <div class="form-group" style="margin-left:10px">
                <label class="control-label">Type of Rental Unit</label>
                  <select>
                  <option name="preferences[rental_unit_type]" value="apartment"> Apartment </option>
                  <option name="preferences[rental_unit_type]" value="house"> Single house </option>
                </select>
              </div>
              <div class="form-group" style="margin-left:90px">
                <label class="control-label">Number of Rooms</label>
                <select>
                  <option name="preferences[num_of_rooms]" value="1">1</option>
                  <option name="preferences[num_of_rooms]" value="2">2</option>
                  <option name="preferences[num_of_rooms]" value="3">3 </option>
                </select>
              </div>
            </div>
            <hr>
            <div style="margin-top: 40px">
              <button class="btn btn-success btn-lg float-left" type="submit" name="submit" value="exit">Prev</button>
              <button class="btn btn-primary nextBtn btn-lg float-right" type="submit" name="submit" value="step#2">Next</button>
            </div>

        </div>
      </div>
    </div>
  </form>
</div>

<% include ../../partials/footer %>