<% include ../../partials/header %> 

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<link rel="stylesheet" href="/stylesheets/landlord_show_style.css">

<div class="row">
  <div class="col-3" style="height: 500px; margin-left: 30px; border:none;">
  <img src="yoobin_justin.jpg" style="width:100%; max-height:100%; object-fit: cover; object-position: 100% 0%;">
  <div class="border border-top-0" style="text-align: center; background-color:#FFFFFF;"> Justin Seo, Senior CS student in UC Santa Cruz</div> 

  </div>

  <div class="col-5 border" style="border-style:none !important; height: 500px; margin-left: 30px;">
  <div class="sub_title" style="text-align: center; margin-top: 20px !important;">
        Self-introduction
  </div>
  <div class="_1ezjrwzo" style="margin-top: 20px !important">
  I'm a sophomore English major at Chinese Cultural University in Taipei. Since high school English has been my favorite subject, and I study it very hard. Someday I hope to be a high school English teacher in Miao-li, my hometown in west-central Taiwan.
 In most respects I am a typical young Taiwanese woman. I have one elder brother, who recently graduated with an engineering degree from a university in southern Taiwan. My father is a civil servant for Miao-li city and mother is a full-time housewife. I spend most of my time at home watching TV, listening to pops, and studying English. Watching TV enables me to learn about current news and English expressions. I also have a part time job at a Chinese restaurant in downtown Taipei.
 Though I am an introvert and tend to get nervous when making speeches, I get along with close friends and enjoy chatting with them. I am generally considered oblidging and almost always am willing to do what friends want. 
 In summary, I'm an ordinary student with many dreams. One dream is that I hope to spend at least one year of my life in volunteer work. And I also hope to appear on television someday before marriage.
  </div>
  </div>

  <div class="col-3 wooden_background border" style="text-align: center;border-style:none !important; height: 500px; margin-left: 30px;">

  <div class="sub_title" style="margin-top: 20px !important;">
        Preferred Location
  </div>
  <div class="_1ezjrwzo">
  Fremont, CA, USA
  </div>

  <div class="sub_title" style="margin-top: 20px !important;">
        Budget
  </div>
  <div class="_1ezjrwzo">
  $1000.00
  </div>

  <div class="sub_title" style="margin-top: 20px !important;">
        Move-in Date
  </div>
  <div class="_1ezjrwzo">
  Mar/20/2019
  </div>

  <div class="sub_title" style="margin-top: 20px !important;">
        Rental Duration
  </div>
  <div class="_1ezjrwzo">
  6 months
  </div>

  </div>

</div>

<!--<div class="container border" style="border-style: none !important; margin-top: 20px; margin-left: 100px; margin-right: 100px;">-->
<div class="container border" style="border-style: none !important; margin-top: 40px;">
  
  <hr>

  <div class="_1xzp5ma3">
    Priority Conditions
  </div>

  <div class="wooden_background border rounded-top rounded-bottom" style="margin-top: 20px;">
    <div class="row sub_title" style="padding-top:8px; !important">
      <div class="col-4" >
        <ul>
          <li> Internet </li>
          <li> Closet </li>
          <li> TV </li>
        </ul>
      </div>

      <div class="col-4" >
        <ul>
          <li> Air Conditioner </li>
          <li> Desk </li>
          <li> Smoke Detector </li>
        </ul>
      </div>

      <div class="col-4" >
        <ul>
          <li> Private Entrance </li>
          <li> Fire extinghisher </li>
        </ul>
      </div>
    </div>
  </div> <!--Amenities-->

  <hr>
  <div class="_1xzp5ma3" style="margin-top:40px;">
    Pererred Conditions
  </div>

  <div class="wooden_background border rounded-top rounded-bottom" style="margin-top: 20px;">
    <div class="row sub_title" style="padding-top:8px; !important">
      <div class="col-4" >
        <ul>
          <li> Living room, shared </li>
          <li> Community pool </li>
        </ul>
      </div>

      <div class="col-4" >
        <ul>
          <li> Kitchen, shared </li>
          <li> Parking, driveway </li>
        </ul>
      </div>
    </div>
  </div> <!-- Available facilities-->

  <hr>
  <div class="_1xzp5ma3" style="margin-top:40px;">
    Rental terms
  </div>

  <div class="wooden_background border rounded-top rounded-bottom" style="margin-top: 20px;">
    <div class="row sub_title" style="padding-top:8px; !important">
      <div class="col-4" >
        <ul>
          <li> Asking Price: $3400/month </li>
          <li> Security Deposit: 2 months' rental </li>
        </ul>
      </div>

      <div class="col-6" >
        <ul>
          <li> Rental Duration: minimum 1 year </li>
          <li> Move-in available date: from Mar-1st 2019 </li>
        </ul>
      </div>
    </div>
  </div> <!-- Rental terms-->

  <hr>
  <div class="_1xzp5ma3" style="margin-top:40px;">
    Interested in this property?
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-3">
      <img src="yoobin_justin.jpg" class="center rounded-circle" style="width:100%; max-height:100%; margin-left: 25px;">
    </div>

    <div class="col-4 _1ezjrwzo" style="margin-left: 50px;">
      Hello there, 
      <br> 
      My name is In Seo who's working at one of high-tech company in Silicon Valley.
      <br>
      <br>
      I'm currently looking for a tennant for one of my extra room which has private entrance, and very private.
      You could share the living room and kitchen as well.
      <br>
      <br>
      Read more...

    </div>

    <div class="col-lg-4 sub_title wooden_background border rounded-top rounded-bottom" style="max-height:102px;text-align: center;">
      <div style="margin-top:10px;">Contact</div>
      <div class="sub_title" style="margin-top:10px !important;">
        <ul  style="list-style-type:none;">
          <li> Phone Number: 510-474-8138 </li>
          <li> E-mail: inseo.kr@gmail.com </li>
        </ul>
      </div>
  </div>
</div>
  <hr>
</div>


<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var myAddress = '793 praderia circile, 94539/fremont';
  var urlString = `https://maps.googleapis.com/maps/api/geocode/json?address=793+praderia+circle,
+Fremont,+CA&key=AIzaSyDhNOl53GKZUx7LI66vSng7VUWkHTUgVnE`;

  var urlString1 = `https://maps.googleapis.com/maps/api/geocode/json?address=loro+pl,
+Fremont,+CA&key=AIzaSyDhNOl53GKZUx7LI66vSng7VUWkHTUgVnE`;

  $.getJSON(urlString, function(data)
  {
        var p1 = data.results[0].geometry.location;

        $.getJSON(urlString1, function(data)
        {
              var p2 = data.results[0].geometry.location;
              // The map, centered at Uluru
              var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 8, center: p1});
              var marker1 = new google.maps.Marker({position: p1, map: map, title:'In Seo: direct middlemen'});
              var marker2 = new google.maps.Marker({position: p2, map: map, title:'Gaeyong: direct middlemen'});
        });
  });


}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSupWCIi2l-ZFk5jzVpI2gucIbFP_oCY&callback=initMap">
</script>


<% include ../../partials/footer %> 