<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/mynetwork_style.css"> 

<div class="container bottom-shadow">
	<span style="text-align:center;"><h3> Friends Recommendation </h3></span>
	<hr>
	<div class="d-flex justify-content-between">
	<%
		var x;
		for (x in friends_list) {%>

		<div class="network_board">
			<div class="profile_picture">
				<img class="img-responsive center rounded-circle" style="max-width: 100%; margin-top:10px;" src='<%=friends_list[x].profile_picture%>'>
			</div>
			<div class="friend_information">
				<span class="friend_name">'<%=friends_list[x].name%>'</span>
				<br>
				<span class="friend_location">'<%=friends_list[x].address.city+","+friends_list[x].address.state%>'</span>
			</div>
			<div class="action">
				<button class="btn btn-info">Connect</button>
			</div>
		</div>
	<%}%>
	</div>
</div>

<% include ../partials/footer %> 